/*main body*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: #f1efe5;
}

/* filters and users*/

.boxheader {
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-down {
    margin-right: 4px;
    display: flex;
    align-items: center;
}

.arrow-allrooms {
    display: flex;
    align-items: center;
}

.box-paper{
    margin: 5px 5px;
    display: flex;
    align-items: center;
}

.paper{
    margin: 0 25px 0 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
}

.avatarface {
    width: 38px;
    height: 38px;
    border-radius: 100px;
    justify-self: space-between;
    align-items: center;
}

/*user interaction area*/

main {
    height: 90vh;
    width: 100vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    padding: 15px 0 0 25px;
    font-size: 14px;
    color: black;
}

#user-box {
    float: left;
    display: flex;
    padding: 0 0 0 12px;
}

#main-body {
    width: 85px;
    height: 85px;
    border-radius: 30px;
    margin: 8px 0 0 8px;
    padding: 8px 7px 0 8px;
}


/*interactions box and footer */

.box-hand-leave {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: none;
    margin: 0 0 0 10px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(235, 232, 232);
}

.text-box {
    color: rgb(230, 57, 57);
}

.box-plus {
    width: 42px;
    height: 42px;
    border: none;
    margin: 2px;
    padding: 8px;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(235, 232, 232);
}

.box-hands {
    width: 42px;
    height: 42px;
    border: none;
    margin: 0 20px 0 5px;
    padding: 8px;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(235, 232, 232);
}

footer {
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    background-color: white;
}

