.bg {
    width: 100%;
    height: 100%;
    background-color: #f1efe5;
}

.boxheader {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-allrooms {
    display: flex;
    align-items: center;
}